body {
    font-family: "Lato", "Arial";
    color: #A4B5D6;
    font-weight: 300;
}

.row {
    margin: 0 0 20px 0;
}

h3 {
    text-align: left;
}

h3 a {
    color: #73BACB;
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 14pt;
}

img,
iframe {
    border: solid 2px #105EF7;
}

.content {
    background-color: #0046D0;
}

.header {
    width: 100%;
    background: linear-gradient(30deg, #003090, #0046D0);
    color: #73BACB;
    border-bottom: solid 2px #2A8499;
}

.border {
    border: double 3px #0E768E;
    border-radius: 30px;
    margin: 10px;
}

.text-thin {
    font-weight: 200;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.embeddedObject {
    margin: 0 20px;
}

.headerText {
    text-shadow: 
        0 1px 0 #345049, 
        0 2px 0 #345049, 
        0 3px 0 #345049, 
        0 4px 0 #345049, 
        0 5px 0 #345049, 
        0 6px 1px rgba(0, 0, 0, .1);
}