body {
    font-family: "Lato", "Arial";
    color: #075A6D;
    font-weight: 300;
}

.row {
    margin: 20px 0;
}

h3 {
    text-align: left;
}

h3 a {
    color: #076379;
}

p {
    text-align: left;
    font-size: 14pt;
}

img, iframe {
    border: solid 2px #2A8499;
}

.contentTop {
    background: linear-gradient(-45deg, #013A47, #73BACB);
}


.contentBottom {
    background: linear-gradient(-150deg, #013A47, #73BACB);
}

.header {
    width: 100%;
    background: linear-gradient(30deg, #0E768E, #013A47);
    color: #73BACB;
    border-bottom: solid 2px #2A8499;
}

.headerBorder {
    border: solid 3px #0E768E;
    border-radius: 30px;
    margin: 10px;
}

.text-thin {
    font-weight: 200;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.embeddedObject {
    margin: 0 20px;
}