body {
    font-family: "Lato", "Arial";
    color: #422919;
    font-weight: 300;
}

.row {
    margin: 0 0 20px 0;
}

h3 {
    text-align: left;
}

h3 a {
    color: #102B24;
}

p {
    text-align: left;
    font-size: 14pt;
}

img, iframe {
    border: solid 2px #FF7C2F;
}

.content {
    background-color: #D38C2D;
}


.header {
    width: 100%;
    background: linear-gradient(30deg, #0E768E, #013A47);
    color: #73BACB;
    border-bottom: solid 2px #2A8499;
}

.headerBorder {
    border: solid 3px #0E768E;
    border-radius: 30px;
    margin: 10px;
}

.text-thin {
    font-weight: 200;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.embeddedObject {
    margin: 0 20px;
}